/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body { 
font: 400 18px 'proxima-nova', Helvetica, Arial, sans-serif, "Apple Color Emoji"; 
color: #111; 
background-color: #f0f0f0; 
-webkit-text-size-adjust: 100%; 
-webkit-font-feature-settings: "kern" 1; 
-moz-font-feature-settings: "kern" 1; 
-o-font-feature-settings: "kern" 1; 
font-feature-settings: "kern" 1; 
font-kerning: normal; 
}

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }

/** `main` element */
main { display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/** Images */
img { max-width: 100%; vertical-align: middle; }

/** Figures */
figure > img { display: block; }

figcaption { font-size: 14px; }

/** Lists */
ul, ol { margin-left: 30px; }

li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 400; }

/** Links */
a { color: #2a7ae2; text-decoration: none; }
a:visited { color: #1756a9; }
a:hover { color: #111; text-decoration: underline; }
.social-media-list a:hover { text-decoration: none; }
.social-media-list a:hover .username { text-decoration: underline; }

/** Blockquotes */
blockquote { color: #828282; border-left: 4px solid #e8e8e8; padding-left: 15px; font-size: 18px; letter-spacing: -1px; font-style: italic; }
blockquote > :last-child { margin-bottom: 0; }

/** Code formatting */
pre, code { font-size: 15px; border: 1px solid #e8e8e8; border-radius: 3px; background-color: #eef; }

code { padding: 1px 5px; }

pre { padding: 8px 12px; overflow-x: auto; }
pre > code { border: 0; padding-right: 0; padding-left: 0; }

/** Wrapper */
.wrapper { max-width: -webkit-calc(800px - (30px * 2)); max-width: calc(800px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; }
@media screen and (max-width: 800px) { .wrapper { max-width: -webkit-calc(800px - (30px)); max-width: calc(800px - (30px)); padding-right: 15px; padding-left: 15px; } }

/** Clearfix */
.wrapper:after, .footer-col-wrapper:after { content: ""; display: table; clear: both; }

/** Icons */
.svg-icon { width: 16px; height: 16px; display: inline-block; fill: #828282; padding-right: 5px; vertical-align: text-top; }

.social-media-list li + li { padding-top: 5px; }

/** Tables */
table { margin-bottom: 30px; width: 100%; text-align: left; color: #3f3f3f; border-collapse: collapse; border: 1px solid #e8e8e8; }
table tr:nth-child(even) { background-color: #f7f7f7; }
table th, table td { padding: 10px 15px; }
table th { background-color: #f0f0f0; border: 1px solid #dedede; border-bottom-color: #c9c9c9; }
table td { border: 1px solid #e8e8e8; }

/** Site header */
.site-header { border-top: 5px solid #424242; border-bottom: 1px solid #e8e8e8; min-height: 55.95px; position: relative; }

.site-title { font-size: 26px; font-weight: 300; line-height: 54px; letter-spacing: -1px; margin-bottom: 0; float: left; }
.site-title, .site-title:visited { color: #424242; }

.site-nav { float: right; line-height: 54px; }
.site-nav .nav-trigger { display: none; }
.site-nav .menu-icon { display: none; }
.site-nav .page-link { color: #111; line-height: 1.5; }
.site-nav .page-link:not(:last-child) { margin-right: 20px; }
@media screen and (max-width: 600px) { .site-nav { position: absolute; top: 9px; right: 15px; background-color: #fdfdfd; border: 1px solid #e8e8e8; border-radius: 5px; text-align: right; }
  .site-nav label[for="nav-trigger"] { display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer; }
  .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; }
  .site-nav .menu-icon > svg path { fill: #424242; }
  .site-nav input ~ .trigger { clear: both; display: none; }
  .site-nav input:checked ~ .trigger { display: block; padding-bottom: 5px; }
  .site-nav .page-link { display: block; padding: 5px 10px; margin-left: 20px; }
  .site-nav .page-link:not(:last-child) { margin-right: 0; } }

/** Site footer */
.site-footer { border-top: 1px solid #e8e8e8; padding: 30px 0; }

.footer-heading { font-size: 18px; margin-bottom: 15px; }

.contact-list, .social-media-list { list-style: none; margin-left: 0; }

.footer-col-wrapper { font-size: 15px; color: #828282; margin-left: -15px; }

.footer-col { float: left; margin-bottom: 15px; padding-left: 15px; }

.footer-col-1 { width: -webkit-calc(35% - (30px / 2)); width: calc(35% - (30px / 2)); }

.footer-col-2 { width: -webkit-calc(20% - (30px / 2)); width: calc(20% - (30px / 2)); }

.footer-col-3 { width: -webkit-calc(45% - (30px / 2)); width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) { .footer-col-1, .footer-col-2 { width: -webkit-calc(50% - (30px / 2)); width: calc(50% - (30px / 2)); }
  .footer-col-3 { width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) { .footer-col { float: none; width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }
/** Page content */
.page-content { padding: 0; }

.page-heading { font-size: 32px; }

.post-list-heading { font-size: 28px; }

.post-list { margin-left: 0; list-style: none; }
.post-list > li { margin-bottom: 30px; }

.post-meta { font-size: 14px; color: #828282; }

.post-link { display: block; font-size: 24px; }

/** Posts */
.post-header { margin-bottom: 30px; }

.post-title { font-size: 42px; letter-spacing: -1px; line-height: 1; }
@media screen and (max-width: 800px) { .post-title { font-size: 36px; } }

.post-content { margin-bottom: 30px; }
.post-content h2 { font-size: 32px; }
@media screen and (max-width: 800px) { .post-content h2 { font-size: 28px; } }
.post-content h3 { font-size: 26px; }
@media screen and (max-width: 800px) { .post-content h3 { font-size: 22px; } }
.post-content h4 { font-size: 20px; }
@media screen and (max-width: 800px) { .post-content h4 { font-size: 18px; } }

/* Book 3D effect */
/* Fallback styles */
.book {
  display: inline-block;
  box-shadow: 5px 5px 20px #333;
  margin: 10px;
  border: 2px solid #eee;
  position: relative;
  left: -5%;
}

.book img { vertical-align: middle; }

/*
 *  In order for this to work, you must use Modernizer
 *  to detect 3D transform browser support. This will add
 *  a "csstransforms3d" class to the HTML element.
 *
 *  Visit http://modernizr.com/ for installation instructions
 */

.csstransforms3d  .books {
  -moz-perspective: 100px;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

.csstransforms3d  .book {
  position: relative;
  -moz-perspective: 100px;
  -moz-transform: rotateY(-3deg);
  -webkit-transform: perspective(100) rotateY(-3deg);
  outline: 1px solid transparent; /* Helps smooth jagged edges in Firefox */
  box-shadow: none;
  margin: 0;
}

.csstransforms3d  .book img {
  position: relative;
  max-width: 100%;
}

.csstransforms3d  .book:before,
.csstransforms3d  .book:after {
  position: absolute;
  top: 2%;
  height: 96%;
  content: ' ';
  z-index: -1;
}

.csstransforms3d  .book:before {
  width: 100%;
  left: 6%;
  height: 95%;
  background-color: #eee;
  box-shadow: 3px 3px 20px #666;
}

.csstransforms3d  .book:after {
  width: 5%;
  left: 100%;
  background-color: #EFEFEF;
  box-shadow: inset 0px 0px 5px #aaa;
  -moz-transform: rotateY(20deg);
  -webkit-transform: perspective(100) rotateY(20deg);
}


/* Non-Jekyll stuff */
button,
input,
optgroup,
select,
textarea {
    margin: 0; /* 3 */
    color: inherit; /* 1 */
    font: inherit; /* 2 */
}
button {
    overflow: visible;
    border: none;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
/* 1 */
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 3 */

    -webkit-appearance: button; /* 2 */
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    line-height: normal;
}
input:focus {
    outline: none;
}

.cta{
  font-size: 1.4rem;
  padding:0.7rem 2rem 0.7rem 2rem; 
  background-color: #4078c3; 
  color: #f9f9f9;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  width: 100%;

  box-shadow: 0px 4px 0px 0px #274780;
}

.cta2{
  font-size: 1.4rem;
  padding:0.7rem 2rem 0.7rem 2rem; 
  margin-left: 1rem;
  background-color: #68B263; 
  color: #f9f9f9;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  width: 100%;


  box-shadow: 0px 4px 0px 0px #22581E;
}

.cta-disabled{
  font-size: 1.4rem;
  padding:0.7rem 2rem 0.7rem 2rem; 
  background-color: #6C7991; 
  color: #f9f9f9;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  width: 100%;

  box-shadow: 0px 4px 0px 0px #274780;
}


a.cta:hover, a.cta:active{
  color: #f9f9f9;
  text-decoration: none;
  background-color: #5084C0;
}

a.cta:visited{
  color: #f9f9f9;
  text-decoration: none;
}

a.cta2:hover, a.cta2:active{
  color: #f9f9f9;
  text-decoration: none;
  background-color: #6FCB5E;
}

a.cta2:visited{
  color: #f9f9f9;
  text-decoration: none;
}

a.cta-disabled:hover, a.cta-disabled:active, a.cta-disabled:visited {
  text-decoration: none;
  color: #f9f9f9;
  cursor: not-allowed;
}

@media screen and (max-width: 600px) {
  .cta, .cta2{
    display: block;
    margin-bottom: 0.5rem;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}

.buybutton{
  font-size: 1.4rem;
  padding:0.7rem 2rem 0.7rem 2rem; 
  background-color: #4078c3; 
  color: #f9f9f9;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 


  box-shadow: 0px 4px 0px 0px #274780;
}

a.buybutton:hover, a.buybutton:active{
  color: #f9f9f9;
  text-decoration: none;
  background-color: #5084C0;
}

a.buybutton:visited{
  color: #f9f9f9;
  text-decoration: none;
}

@media (max-width: 450px) {
  .buybutton{
    font-size: 1.2rem;
    padding:0.7rem 2rem 0.7rem 2rem; 
  }
}

.drop-shadow{
  -webkit-box-shadow: 0px 4px 12px -1px rgba(156,156,156,1);
  -moz-box-shadow: 0px 4px 12px -1px rgba(156,156,156,1);
  box-shadow: 0px 4px 12px -1px rgba(156,156,156,1);

  border-radius: 6px;
}

.how{
  display: block;
  font-size: 3em; 
  position: relative; 
  top: -6em;
  transform: rotate(-20deg); 
  -ms-transform: rotate(-20deg); 
  -webkit-transform: rotate(-20deg);
  background-color: rgba(240, 240, 240, 0.75);
  background: linear-gradient(to right, rgba(240, 240, 240, 0.75) , rgba(253, 253, 253, 1), rgba(240, 240, 240, 0.75));
  max-width: 800px;
}

.red{
  color: #D8141F;
}

.post-content h1{
  margin-top: 4rem;
  color: #4078c3;
}

.post-content p{
  line-height: 1.6;
}

.post-subscribe{
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;

  padding: 1rem;
  border: 1px solid #CCC;
  text-align: left;
  border-radius: 4px;

  background-color: #FFF;
  border-top: 2px solid #4078c3;
  border-bottom: 2px solid #4078c3;

  box-shadow: 0px 0px 5px rgba(0,0,0,.3);
}

.post-subscribe h4{
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 0;
}

.post-subscribe img{
  max-width: 200px;
  max-height: 200px;
  display: inline;
  float: left;
  margin-right: 1rem;
}

.post-subscribe span{
  display: inline;
}

.post-subscribe-left, .post-subscribe-right{
  display: inline-grid;
  width: 45%;
  height: 100%;
  padding: 1rem;
}

@media (max-width: 450px) {
  .post-subscribe-left, .post-subscribe-right{
    padding: 0.1em;
    width: 100%;
  }
}

.post-subscribe input[type=text], .post-subscribe input[type=email]{
  font-size: 1rem;
  padding:0.4rem; 
  width: 100%;
  border-radius: 3px;
  border: 1px solid #999;
}

.post-subscribe input{
  font-size: 1rem;
  padding: 0.5rem; 
  border-radius: 3px;
  border: 1px solid #999;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  width: 100%;
}

.post-subscribe input[type="submit"]{
  font-size: 1rem;
  padding:0.5rem ; 
  background-color: #4078c3; 
  color: #f9f9f9;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  width: 100%;

  border: 0;
}

.post-subscribe input[type="submit"]:hover{
/*  background-color: #4BC948;
  color: #F9F9F9; */
}